.back-to-main-screen {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 50px;
  color: rgb(243, 243, 243);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  user-select: none;
}

.back-to-main-screen:hover {
  transform: scale(1.05);
}

.back-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.back-to-main-screen:hover .back-icon {
  transform: translateX(-5px);
}

.back-text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  .back-to-main-screen {
    top: 10px;
    left: 10px;
    padding: 8px 15px;
    font-size: 14px;
  }

  .back-icon {
    font-size: 20px;
  }
  .back-to-main-screen{
    color: black;
  }
}

@media (max-width: 768px){
  .back-to-main-screen{
    color: black;
  }
}

