.contactUs-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.contactUs-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.contactUs-left-side {
  flex: 2;
  padding: 22px;
}

.contactUs-texts h2 {
  font-size: 46px;
  color: #333;
  margin-bottom: 10px;
}

.contactUs-texts p {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.contactUs-texts span {
  font-weight: bold;
  color: rgb(210, 52, 52);
}

.contactUs-form {
  width: 100%;
}

.contactUs-form h4 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.contactUs-form label {
  font-size: 18px;
}

.form-group {
  margin-bottom: 15px;
  width: 200%;
}

.contactUs-input-style,
.contactUs-textArea {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.contactUs-input-style:focus,
.contactUs-textArea:focus {
  border-color: rgb(210, 52, 52);
}

.phone-email-container {
  display: flex;
  gap: 10px;
  width: 200%;
}

.phone-email-container .form-group {
  flex: 1;
  width: 100%;
}

.message-submit {
  width: 200%;
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.message-submit:hover {
  background-color: rgb(96, 96, 96);
}

.contactUs-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.contactUs-image-container img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 1360px) {
  .contactUs-content {
    flex-direction: column;
    align-items: center;
  }

  .contactUs-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group,
  .phone-email-container,
  .message-submit {
    width: 100% !important;
  }

  .phone-email-container {
    flex-direction: column;
    gap: 0;
  }

  .contactUs-right-side {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .contactUs-content {
    padding: 20px 10px;
  }

  .contactUs-texts h2 {
    font-size: 28px;
  }

  .contactUs-texts p {
    font-size: 16px;
  }

  .contactUs-form h4 {
    font-size: 20px;
  }

  .contactUs-form label {
    font-size: 15px;
  }

  .contactUs-input-style,
  .contactUs-textArea,
  .message-submit {
    font-size: 14px;
    padding: 10px;
  }
}
